<div [style.position]="'relative'" (resized)="onResize($event)">
    <img #docImage class="img-fluid selectAndDragDisable" draggable=false
    [src]="vespaService.getSnippetURL(snippetName!)" 
    (load)="onDocImageLoad()"/>
    <div class="bounding-box" title="{{box.word}}" *ngFor="let box of flatBoundingBoxes, let i = index" 
    [class.relevant] = "terms?.includes(box.word)"
    [class.selected] = "highlightStatus![i]"
    [style.position]="'absolute'"
    [style.left]="getScaledXPos(box.box[0]) + 'px'"
    [style.bottom]="getScaledYPos(box.box[2]) + 'px'"
    [style.width]="getScaledXPos(box.box[1] - box.box[0]) + 'px'"
    [style.height]="getScaledYPos(box.box[3] - box.box[2]) + 'px'">
        <div [fittext] [resize]="resize" appFitTextPlus>{{ box.word }}</div>
    </div>
</div>