<div class="card border-0 mt-3 sticky-top">
    <!-- <h5 class="card-title text-center">{{ docName }} | Page {{ docPage + 1 }}</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">70 pages • Austria, 5 Mar 1944 • English (HARDCODED)</h6> -->
    <div class="d-flex justify-content-between align-items-center card-title">
        <div class="doc-detail-left"></div>
        <div class="doc-detail-mid">
            <span class="doc-title" title="{{ docName }} | Page {{ docPage + 1 }}">{{ docName }}</span>
            <span class="doc-page" title="{{ docName }} | Page {{ docPage + 1 }}"> | Page {{ docPage + 1}}</span>
        </div>
        <div class="doc-detail-right">
            <span title="{{ globals.languageCodeToName(data?.getDocLanguage()) }}" class="shadow border rounded px-1 language-tag">{{ data?.getDocLanguage() }}</span>
            <a href="{{vespaService.downloadDocumentFileURL(docName)}}" class="btn btn-download" (click)="$event.stopPropagation()" title="Download document">
                <i class="fa fa-download" ></i>
            </a>
        </div>
    </div>
</div>
<app-bounded-image-viewer
    [boundingData]="this.boundingData"
    [terms]="this.terms"
    [docName]="this.docName"
    [docPage]="this.docPage"
    [inViewport]="inViewport"
    (termsSelected)="onTextSelected($event)"
></app-bounded-image-viewer>