.tooltip-div {
    display: none;
    // width: 250px;
    // z-index: 1021;
    background-color: #fff;
    border: 1px solid #666;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.scroll-viewport {
    height: calc(98vh - 100px - 100px);
    width: 100%;
    scrollbar-width: thin;
}

.language-tag {
    height: 30px;
    font-size: 1rem;
}

.card-title {
    font-size: 1.25rem;
}

.card-body {
    padding: 1rem;

    .btn-download {
        &:hover {
            color: rgba(243, 154, 39, 0.5);
        }
    }
}